*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    font-family: 'Otomanopee One', sans-serif;
    background-color: #92a8d1;
    color: #ffff;
}
main{
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    width: 600px;
    margin: auto;

}
main .title{
    padding: .2rem 1.5rem 1.5rem 2rem;
    margin: 1rem auto;
    text-align: center;
}
.title h1{
    font-size: 2.5rem;
    letter-spacing: .3rem;
}
.title small{
    letter-spacing: 1px;
}
button{
    width: 200px;
    height: 200px;
    margin: auto;
    border: none;
    transition: all .5s ease;
    background-color: #92a8d1;
    cursor: pointer;
}
button:hover{
    box-shadow: inset 1px 1px 5px 0px rgb(0, 0, 0 / 29%);
}
.border{
    border: 1px solid wheat;
}
.no-b-top{
    border-top: 0;
}
.no-b-left{
    border-left: 0;
}
.no-b-rigth{
    border-right: 0;
}
.no-b-bottom{
    border-bottom: 0;
}